:root {
  --DEFheadingFont: "Playfair Display", serif;
  --DEFcontentFont: "Poppins", sans-serif;
}

body {
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--DEFheadingFont);
  color: black;
  font-weight: bold;
}

.hero {
  background-color: #f9f7fe;
  padding: 160px 20px;
}

h1 {
  font-size: 96px;
  font-weight: bold;
  color: rgb(235, 78, 104);
}

.hero p {
  font-family: var(--DEFcontentFont);
  font-size: 36px;
  font-weight: bold;
  color: #272142;
}

.hero h2 {
  font-family: var(--DEFcontentFont);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.contact {
  background-color: #6c63ff;
  font-family: var(--DEFcontentFont);
  color: white;
  font-weight: 400;
  padding: 15px 30px;
  line-height: 27px;
  border-radius: 4px;
}

h2 {
  font-size: 44px;
}

p {
  color: #6c757d;
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  font-family: var(--DEFcontentFont);
}

.learn-more {
  color: #6c63ff;
  border: 1px solid #6c63ff;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 27px;
  border-radius: 4px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.about-file {
  padding: 30px;
}

.about-section {
  background-color: #f9f7fe;
  padding: 160px 20px;
}

.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-section p {
  font-size: 16px;
  font-family: var(--DEFheadingFont);
}

.work h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
}

.work p {
  font-size: 14px;
}

.logo {
  max-width: 150px;
  display: flex;
}

.small {
  max-height: 60px;
}

nav {
  padding: 20px 0;
}

nav a {
  margin-left: 10px;
  text-decoration: none;
  color: #272142;
}

nav li.active a {
  color: #6c63ff;
}

nav a:hover {
  color: #6c63ff;
  transition: all 100ms ease-in-out;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
}

img {
  vertical-align: middle;
  margin-bottom: 25px;
}

@media (max-width: 900px) {
  body {
    text-align: center;
  }

  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 160px 20px;
  }

  .project-description {
    padding: 80px 20px;
  }

  .about-section {
    text-align: center;
    padding: 0;
  }

  nav a {
    font-size: 14px;
  }
}
